<div class="modal fade" id="upload_photo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Upload new photo</h4>
      </div>
      <div class="modal-body">
        <%= form_for object.photos.new do |f| %>
          <%= f.hidden_field "#{object.class.name.downcase}_uuid", value: object.uuid %>
          <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 0%;">
              <span class="sr-only"></span>
            </div>
          </div>
          <div class="status"></div>
          <%= f.cl_image_upload :image, class: 'form-control' %>
        <% end %>
            
          
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->