<div class="embed-responsive" style="height: 800px;">
  <object class="embed-responsive-item" data='<%= @source.document.url %>#view=FitH' 
          type='application/pdf' 
          width='100%' 
          height='100%'>

  <p>It appears your Web browser is not configured to display PDF files. 
  No worries, just <a href='<%= @source.document.url %>'>click here to download the PDF file.</a></p>

  </object>
</div>