<div class="row">
  <div class="col-sm-8">
    <h5>
      <span class="glyphicon glyphicon-time"></span> <%= resource_link 'Event', a.parameters[:event_id], a.parameters[:name] %>
    </h5>
    <p><em><%= a.parameters[:date] || 'unknown' %></em></p>
    <% unless a.parameters[:details].nil? || a.parameters[:details].empty? %><p>"<%= a.parameters[:details]%>"</p><% end %>
  </div>
</div>