<div class="row">
    <div class="jumbotron">
      <h1>Help us track the global antiquities trade.</h1>
      <p>Together we'll be mapping the post-war trade in ancient art, with a focus on objects with unclear ownership histories. Many of these objects were illegally excavated and trafficked through the black market in looted antiquities.</p>
      <p><a href="/about" class="btn btn-primary btn-lg" role="button">Learn More</a></p>
    </div>
    
</div>



<div class="row">
    <div class="col-lg-6">
        <div class="page-header">
          <h1>Goal:</h1>
        </div>
        <p>Reconstruct these lost histories, and in the process build an authoritative dataset that will help researchers answer basic questions about the illicit antiquities trade:</p>
        <ul>
            <li>How big is it? Is it getting bigger or smaller?</li>
            <li>Who are the main players?</li>
            <li>How can it be stopped?</li>
        </ul>
        <p>Building that dataset is a big job, <strong>and we need your help.</strong></p><br>
        <p><a href="/contact" class="btn btn-info btn-sm" role="button">Contact us</a> to get involved.</p>
    </div>
    <div class="col-lg-6">
        <%= image_tag "front_page_image.png", class: 'img-responsive' %>
    </div>
</div>