<div class="row">
  <div class="col-md-12">
    <h3>Tasks</h3>
    
    <br/>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="<%= @doc_url %>&amp;rm=minimal&amp;embedded=true" height="800" width="1200"></iframe>
    </div>
  
  </div>
</div>