    <dl>
      <dt>
        Title
      </dt>
      <dd>
        The Met Plans to Return Statues to Cambodia
      </dd>
      <dd>
        <br>
      </dd>
      <dt>
        Authors
      </dt>
      <dd>
        RALPH BLUMENTHAL
      </dd>
      <dd>
        <br>
      </dd>
      <dt>
        Images
      </dt>
      <dd>
        <div class="row">
          <div class="col-sm-3">
            <img class="img-responsive" src="http://graphics8.nytimes.com/images/2013/05/04/arts/04statue-1/04statue-1-superJumbo.jpg">
          </div>
          <div class="col-sm-3">
            <img class="img-responsive" src="http://graphics8.nytimes.com/images/2013/05/04/arts/04statue-1/04statue-1-articleInline.jpg">
          </div>
          <div class="col-sm-3">
            <img class="img-responsive" src="http://i1.nyt.com/images/2014/06/22/sunday-review/22MOTH_MENAGERIE/22MOTH_MENAGERIE-moth.jpg">
          </div>
          <div class="col-sm-3">
            <img class="img-responsive" src="http://i1.nyt.com/images/2014/06/23/health/23MOTH_BRODY/23MOTH_BRODY-moth.jpg">
          </div>
          <div class="col-sm-3">
            <img class="img-responsive" src="http://i1.nyt.com/images/2014/06/23/arts/design/23MOTH_MUSEUM/23MOTH_MUSEUM-moth.jpg">
          </div>
        </div>
      </dd>
      <dd>
        <br>
      </dd>
      <dt>
        Content
      </dt>
      <dd>
        <div>
          <p>
            Six weeks ago the Metropolitan Museum of Art sent two of its top executives to Cambodia to resolve a thorny dispute: whether two pieces of ancient Khmer art that the museum has long prominently exhibited were the product of looting.
          </p>
          <p>
            In days they had their answer. Cambodian officials documented that the two 10th-century Khmer statues, donated to the Met in four pieces as separate gifts between 1987 and 1992, had indeed been smuggled out of a remote jungle temple around the time of the country's civil war in the 1970s.
          </p>
          <p>
            On Friday the museum said it would repatriate the life-size sandstone masterworks, known as the Kneeling Attendants, which have guarded the doorway to the Met's Southeast Asian galleries since they opened in 1994.
          </p>
          <p>
            The decision came after months of behind-the-scenes contact between the Met and Cambodian officials. Thomas P. Campbell, the museum's director, said the decision - one of the more significant in a recent spate of controversial repatriations by American museums - came after the Cambodians offered evidence that the works had been improperly removed from the <a href="http://www.tourismcambodia.com/travelguides/provinces/preah-vihear/what-to-see/394_koh-ker-temple.htm">Koh Ker temple complex</a>, 180 miles northwest of Phnom Penh.
          </p>
          <p>
            Among the evidence the officials considered were photographs of the statue's broken-off bases, which were left behind at the site, and witness statements that the Cambodians have collected suggesting that the statues were intact as recently as 1970.
          </p>
          <p>
            "This is a case in which additional information regarding the Kneeling Attendants has led the museum to consider facts that were not known at the time of the acquisition and to take the action we are announcing today," Mr. Campbell said in a statement.
          </p>
          <p>
            No timetable has been set. The museum told Cambodian officials in a letter last month that it hoped to send the objects as soon as "appropriate arrangements for transit can be mutually established."
          </p>
          <p>
            The Met's decision reflects the growing sensitivity by American museums to claims by foreign countries for the return of their cultural artifacts. Many items that have long been displayed in museums do not have precise paperwork showing how the pieces left their countries of origin. In recent years, at the urging of the Association of Art Museum Directors and scholars, many museums have applied more rigorous standards to their acquisitions.
          </p>
          <p>
            At the time the statues came to the Met in four pieces - two torsos and two heads - the Met and the museum world allowed acquisitions without detailed histories, although an effort was supposed to be made to examine an object's origin in case it was illicit.
          </p>
          <p>
            In an interview from Cambodia, Chan Tani, the secretary of state with the nation's Office of the Council of Ministers, expressed excitement about the return.
          </p>
          <p>
            "This shows the high ethical standards and professional practices of the Metropolitan Museum of Art, which they are known for," he said.
          </p>
          <p>
            Cambodian officials also visited the Met in March to photograph its Khmer items. A government official said that Cambodia would like the museum to review the provenance of another two dozen objects.
          </p>
          <p>
            The Met has developed a collaborative relationship with the country and is now exhibiting 10 sculptural works by the contemporary Cambodian artist <a href="http://sopheappich.com/">Sopheap Pich</a>. The museum is also hoping to hold a major exhibition of Khmer artifacts next year.
          </p>
          <p>
            The negotiations over the statues, which began last June, culminated with the trip by Sharon Cott, the Met's general counsel, and John Guy, its Southeast Asian curator, to Cambodia in March.
          </p>
          <p>
            "As a matter of courtesy, they wanted to go there rather than communicate by e-mail," said Harold Holzer, the Met's senior vice president for external affairs.
          </p>
          <p>
            Among the evidence cited by the Cambodians was the finding of the statues' broken-off bases still at the temple. That discovery is significant, according to Cambodian officials, who say archaeologists have evidence showing that other statues from the same grouping as the twins remained in place as late as 1970, only to disappear by 1975.
          </p>
          <p>
            Another object that was once part of the same grouping is a huge <a href="http://www.courthousenews.com/2013/03/29/56212.htm">10th-century statue</a> of a warrior, known as Duryodhana, which Sotheby's had hoped to sell in 2011 for $3 million on behalf of its Belgian owner.
          </p>
          <p>
            Cambodia says that statue was also looted. United States officials have filed suit in federal court in Manhattan to confiscate the statue on Cambodia's behalf. The trial is expected to start later this year.
          </p>
          <p>
            Sotheby's has said it applied all appropriate standards of provenance research before agreeing to sell the statue. Asked on Friday what impact the Met's decision might have on the court case, Sotheby's replied in a statement that: "The Met's voluntary agreement does not shed any light on the key issues in our case." The auction house says that the consignor bought the statue in good faith in 1975 and that it had no knowledge of Cambodia's claim of ownership.
          </p>
          <p>
            A fourth statue in the grouping, called Bhima, is at the Norton Simon Museum in Pasadena, Calif. Cambodia has also asked the United States government to help it recover the Bhima from the Norton Simon. The museum says it is cooperating with investigators.
          </p>
          <p>
            The Kneeling Attendants came to the Met in a series of gifts that began in 1987 when Spink &amp; Son, a London auction house, and a longtime Khmer art collector, Douglas A. J. Latchford, joined in donating one of the two heads. A second head was donated by Raymond G. and Milla Louise Handley in 1989, who had bought it two years earlier, also at Spink.
          </p>
          <p>
            In 1992, Mr. Latchford gave the museum the two torsos, and in 1993 the heads and bodies were reattached by museum conservators.
          </p>
          <p>
            At one time Mr. Latchford was also listed as an owner of the Sotheby's statue, which was later sold by Spink to the husband, now dead, of its current owner.
          </p>
          <p>
            Mr. Latchford, 81, has said that the paperwork was mistaken - that the auction house listed him as an owner for accounting purposes and that he never actually purchased the warrior statue. He has denied having any role in the illicit shipments of Cambodian antiquities.
          </p>
          <p>
            In an interview from Bangkok, where he lives, Mr. Latchford said of the Met's statues: "Admittedly these things were moonlighted out of Cambodia and wound up somewhere else. But had they not been, they would likely have been shot up for target practice by the Khmer Rouge."
          </p>
          <p>
            He said that collectors and museums had been essential in rescuing and caring for cultural artifacts that spread an understanding of Khmer culture.
          </p>
          <p>
            Mr. Latchford has donated at least seven other items to the Met, including the stone head of a Buddha and the bronze head of a Shiva, both from the 10th-century Khmer Angkor period, according to the museum's Web site.
          </p>
          <p>
            Mr. Holzer said there was no special effort under way to re-examine the provenance of those items.
          </p>
          <p>
            Over the years the Met has returned many objects of questionable provenance to other countries. In 2010 it sent Egypt 19 pieces from King Tutankhamun's tomb that had been in its collection since the early 1900s. In 2006 the Met signed an agreement with Italy to return the famous <a href="http://topics.nytimes.com/top/reference/timestopics/subjects/e/euphronios_krater/index.html">Euphronios krater</a>, a Hellenistic silver collection and four other antiquities in exchange for loans of some of the items and other pieces.
          </p>
          <p>
            In 1997 the Met returned a 10th-century head of Shiva to Cambodia after it turned up on a list of looted objects from Angkor.
          </p>
          <p>
            Tess Davis, a researcher on Cambodian antiquities with the Scottish Center for Crime and Justice Research in Glasgow, said that the Met's gesture should serve as a signal to other American museums that possess antiquities with sketchy provenances.
          </p>
          <p>
            "The Met could have treated Cambodia's request as an obstacle," she said. "Instead, the museum recognized it as an opportunity to set the moral standard for the art world."
          </p>
        </div>
      </dd>
    </dl>