<%# Link to the "Previous" page
  - available local variables
    url:           url to the previous page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>

<%- if current_page.first? %>
<li class="disabled">
<%- else %>
<li>
<%- end %>
	<%= link_to url, :remote => remote do %>
		<span class="glyphicon glyphicon-chevron-left"></span>
	<% end %>
</li>
