<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li role="presentation" class="dropdown-header">Create New</li>
    <li>
      
      <%= link_to new_artifact_path do %>
        <span class="glyphicon glyphicon-glass"></span> Artifact
      <% end %>
      
      <%= link_to new_person_path do %>
        <span class="glyphicon glyphicon-user"></span> Person
      <% end %>
      
    </li>
  </ul>
</li>