<!-- Search -->
<form class="navbar-form navbar-left" action="/search">
  <div class="form-group has-feedback">
    <input type="text" class="form-control" placeholder="Search" id="q" name="q" value="<%= @query %>">
    <span class="glyphicon glyphicon-search form-control-feedback"></span>
  </div>
</form>