          <!-- Search -->
          <form class="navbar-form navbar-left" action="/search">
              <input type="text" class="form-control col-lg-8" placeholder="Search" id="q" name="q" value="<% # search_value %>">
          </form>