<h3>Web Page</h3>
<br>

<div class="form-group">
  <label>Page URL</label>
  <%= text_field_tag 'source[uri]', nil, class: 'form-control', placeholder: 'http://chasingaphrodite.com/2014/06/10/scoop-bowers-museum-will-return-500-thai-antiquities-seized-during-2008-raids/' %>
</div>