/*
 * Antiquarium CSS
 * 
 *= require flatly
 *= require select2.css
 *= require select2-bootstrap.css
 *= require bootstrap-editable.css
 *= require_self
 */

.navbar-static-top {
  margin-bottom: 19px;
}

#footer {
	margin-top: 50px;
}

.description-editable {
  width: 100%;
}
