<div class="form-group">
  <%= label_tag "Location" %>
  <%= text_field_tag :location, nil, class: 'form-control' %>
</div>

<div class="checkbox">
  <label>
    <%= check_box_tag :location_unknown %>
    Unknown
  </label>
</div>