<div class="form-group">
  <%= f.label :price %>
  <div class="input-group">
    <span class="input-group-addon">
      <%= f.select :price_currency, currencies, class: 'form-control'  %>
    </span>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
</div>

