<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  
  <body>

    <!-- Start Page Content -->
    <div class="container">
      
      <%= yield %>
    
      <!-- Footer -->
  		<%= render 'layouts/footer' %>
    </div>
    <!-- End Page Content -->
    
		<!-- Javascripts -->
    <%= render 'layouts/javascripts' %>
    
  </body>
</html>
